.subtitle {
  font-size: var(--fontSizeSubtitle);
  margin: 15px 0;
  color: var(--darkGreen);
  text-align: left;
  width: 100%;
}

@media (800px <=width <=1000px) {}

@media (width >=1001px) {
  .subtitle{
    margin: 30px 0 0 0 ;
  }
}